/*-------------FONTS INCLUDED----------*/

@font-face{
    font-family: AzoSans_Reg;
    src: url(../font/Rui\ Abreu\ -\ AzoSans-Regular.otf);
}

@font-face{
    font-family: AzoSans_Med;
    src: url(../font/Rui\ Abreu\ -\ AzoSans-Medium.otf);
}
@font-face{
    font-family: AzoSans_Bold;
    src: url(../font/Rui\ Abreu\ -\ AzoSans-Bold.otf);
} 

/*----------CSS----------*/

*{
    box-sizing: border-box;
}
body{
    color: white;
    font-family:'AzoSans_Reg', sans-serif;
    margin: 0 auto;
    width: 100%;
    background: rgb(242, 92,93);
    overflow: hidden;
 
}

/*-------------HEADER----------*/

header, .nav-bar{
    background: white;
    width: 100%;
}
header .head{
    color: rgb(175, 175, 175);
    font-family:'AzoSans_Bold',sans-serif;
}
main,header .head{
    width: 60%;
    padding: 3%;
    margin: 0px auto;   
}
#menu, .toggle_bar{
    display: none;
}

/*-------------NAVIGATION BAR----------*/

.tabs{
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-around;
    list-style: none;
    flex: 1 1 0;
    -webkit-flex: 1 1 0; /* Safari */
    width: 60%;
    margin: 0 auto;
}
.tabs li{
    width: 100%;
    text-align: center;
  
}
.tabs a{
    text-decoration: none;
    color: black;
    padding: 20%;
    font-family:'AzoSans_Med', sans-serif;
    display: block; 
}
.tabs a:hover{
    color: rgb(242, 92,93);
}
.tabs .active, .tabs .active:hover{
    color: white;
    background: rgb(242, 92,93);
} 
.tabs .active > a{
    color: white;
}
/*-------------MAIN----------*/

main .tag{
    font-weight: 500;
}
#title-cont{
    display: none;  
}
.tab_content{
    min-height: 200px;
    line-height: 20px;
    word-spacing: 1px;
    letter-spacing: 1px;
}
.tab_content > div{
    display: none;
}
.tab_content .active{
    display: block; 
}

/*----------------------FOOTER ANIMATION----------------------*/

.follow-container{
    display: inline-flex;
   
}
.container{
    border: 2px solid white;
    border-radius: 50px;
    position: relative;
    width: 50px;
    height: 50px;
    background: rgb(242, 92,93);
    display: block;
    margin: 6px;
    padding: 13px;
    text-align: center;
}
.animate{
    position: absolute;
    background: white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;   
    border-radius: 50px;
    transform: scale(1,1);
    transition: all 750ms ease;  
}
.social{
    text-decoration: none;
    color: rgb(242, 92,93);
    position: relative;
}
.container:hover{
    width: 60px;
    height: 60px;
}
.container:hover > .animate{
    transform: scale(0,0);
    transition: 750ms ease;
    color: white;
}
.container:hover > .social{
    color: white;
    font-size: 22px;
}

/*--------------MEDIA QUERIES--------------*/

/* iPads (portrait and landscape) ----- */

@media only screen and (min-width : 768px) and (max-width : 1024px) {
    body{
        overflow: auto;
    }
    
    .tabs{
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .nav-bar{
       width: 15%;
       float: left;
       height: calc(100vh - 93px);
   }
   .follow, .follow-container{
        display: none;
    }

}

/* Smartphones (portrait and landscape) ---- */

@media only screen and (min-width : 320px) and (max-width : 768px) {

    
    header .head{      
       font-size: 18px;
       margin-left: 40px;
       padding: 20px;
}  
    main{
        width:100%;
        padding:30px;
    }
     .follow, .follow-container, .nav-bar{
      display: none;
}
    .toggle_bar{
    padding: 7px;
    margin: 11px;
    width: 50px;
    position:absolute;
    display: block;
    top:0;
    right:0;
    cursor: pointer;
}
    .bar{
    border: 3px solid rgb(175, 175, 175);
    margin: 3px;
    display: block;
}
    input:checked ~ .nav-bar{
    display: block;
    overflow: visible;
    position: fixed;
    height: 100%;
}
    input:checked + label > .toggle_bar > .bar{
    border-color: rgb(242, 92,93);
    background:black;
}
    .tabs{
    flex-direction:column;
    width:100%;
    padding:0;
}
    .tabs a{
    padding:20px;
}
    #title-cont{
    background: black;
    display: block;
    padding: 10px;
    height: 45px;
}
    #title{
    color: antiquewhite;
    margin-left: 20px;
    font-size: 25px;
   }
}

